

.wrapper{
    min-height:100vh;
    margin:0;
    display: grid;
    grid-template-rows:1fr 8fr 1fr

}

.App {

  background-color:red;
}

.menu {
  background-color:blue;

}

.footer {
  background-color:green;
}
.listusers{
    margin: 0 auto;
    border-collapse: collapse;
    border: 3px solid purple;
}

.listusers td {
    border: 3px solid purple;
}


